{#
/**
 * @file media-type-youku.html.twig
 * Default theme implementation to display a Youku video.
 *
 * Available variables:
 * - id: The id of a Youku video.
 *
 * @ingroup themeable
 */
#}
<div class="media media--remote-video">
  <iframe width="480" height="270" allowfullscreen="allowfullscreen" src="https://player.youku.com/embed/{{ id }}"></iframe>
</div>
